<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
	<link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<script th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
	<footer th:fragment="footerAll" class="container container-fluid text-center">
		<div style="display: inline;">
			<input type="button" class="btn btn-primary" value="Back" onclick="history.back()">
		</div>
		
		<form th:action="@{/admin}" method="GET" style="display: inline;">
			<input type="button" class="btn btn-danger" value="Cancel">
		</form>
	</footer>
</body>
</html>