@charset "UTF-8";



#first-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    margin-top:50px;
    padding: 0rem 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #555;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-bottom: 1px solid #004A80;
    height: 2.5rem;
    width: 50rem;
    
}
.scroll{
	  overflow-y: scroll;
} 
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#create-label {
    display: flex;
    align-items: center;
    font-size:1rem;
}


.submit {
	color: #FFF;
	font-family: Montserrat;
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.03125rem;
	display: flex;
	width: 6.875rem;
	height: 1.5625rem;
	justify-content: center; 
    align-items: center; 
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 0.125rem;
	background: #00355B;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
}
.cancel {
	display: flex;
	width: 6.875rem;
	height: 1.5625rem;
	padding: 0rem 0.625rem;
	justify-content: center;
	align-items: center;
	border-radius: 0.125rem;
	border: 1px solid #CCC;
	background: #FFF;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
	color: #555;
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.03125rem;
	margin-right:1.25rem;
		}
.btn-container {
    display: flex;
    justify-content: center; /* Adjust this property to suit your layout */
    align-items: center;
    margin-bottom:1.12rem;
    margin-top:0.94rem;

}
placeholder {
	color: #CCC;
	font-family: Montserrat;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}


/* Add a border to the input date */
#inputDate {
    border: 1px solid #CCC;
    margin-left:0.31rem;
    padding: 0 0.31rem;
    width:5.6875rem;
    color: #555;
	border: 1px solid #CCC;
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: underline;
	display: flex;
	height: 1.5625rem;
	padding: 0rem 0.3125rem;
	align-items: center;
	gap: 0.5rem;
}


.general-container{
	margin:0 auto;
	display: flex;
	padding: 0.625rem 0.625rem  0.625rem 0.625rem;
	flex-direction: column;
	align-self: stretch;
	width:50rem;
	border-top:0;
	border: 1px solid #CCC;
	background: #FFF;
}

.grid-container {
	display:flex;
	align-items:center;
}

.form-group:nth-child(1),
.form-group:nth-child(2)
 {
	flex: .45;
}



.target, .comments {
	display: flex;
	height: 1.5625rem;
	padding: 0.3125rem 0.625rem;
	align-items: center;
	gap: 0.625rem;
	align-self: stretch;
	border: 1px solid #CCC;
	border-bottom:0;
	background: #EAEDF5;
	box-shadow: 0px 1px 1px 0px rgba(204, 204, 204, 0.25);
	font-family: 'Montserrat', sans-serif;
	font-size:0.75rem;
    font-weight: 400;
    color: #555;
    width:20.9375rem;
}


.target {
	  margin-right:0.31rem;
}

.comments {
    margin-right:0.31rem;

}

.create-report__nav{
    display:flex;
    align-items:center;
    justify-content:center;
}


.create-report__nav > a, input{
	font-size:10px;
	color: #555;
	border-radius: 0.125rem;
	border: 1px solid #CCC;
	background: #FFF;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
	width:4.375rem;
	height:1.5625rem;
	text-align: center; 
	display: flex;
 	justify-content:center;
    align-items: center; /* Center vertically */
}
.create-report__nav > button {
	font-size:10px;
	color: #555;
	border-radius: 0.125rem;
	border: 1px solid #CCC;
	background: #FFF;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
	width:4.375rem;
	height:1.5625rem;
	text-align: center; 
	display: flex;
 	justify-content:center;
    align-items: center; /* Center vertically */
}

.create-report__nav a:nth-child(1){
	margin-right: 0.31rem;
}
.create-report__nav input:nth-child(1){
	margin-right: 0.31rem;
}
.create-report__nav button:nth-child(1){
	margin-right: 0.31rem;
}
.create-report__nav a:nth-child(1) span{
	margin-left:0.31rem;
}

.create-report__nav a:nth-child(2) span{
	margin-right:0.31rem;
}

.error-message {
	display: flex;
    align-items: center;
	color: #F33;
	font-family: Montserrat;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;	
}

textarea, p {
	display: flex;
	padding: 0.3125rem 0.625rem;
	align-items: flex-start;
	gap: 0.625rem;
	border: 1px solid #CCC;
	background: #FFF;
	height: 9.37rem;
	width:20.9375rem;
	font-family: 'Montserrat', sans-serif !important;
	font-size:0.75rem !important;
    font-weight: 400 !important;	
    white-space: pre-wrap;
}

.rating {
	display: flex;
	height: 1.5625rem;
	padding: 0.3125rem 0.625rem;
	align-items: center;
	gap: 0.625rem;
	align-self: stretch;
	border: 1px solid #CCC;
	border-bottom:0;
	background: #EAEDF5;
	box-shadow: 0px 1px 1px 0px rgba(204, 204, 204, 0.25);
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:0.75rem;
    color: #555;
    margin-right:0.62rem;
    width:6.25rem;
}

#numberSelect {
	display: flex;
	justify-content: center;
	height: 2.8125rem;
	padding: 0rem 0.625rem;
	align-items: center;
	gap: 0.625rem;
	align-self: stretch;
	width:6.25rem;
	color: #555;
	text-align: center;
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: 1px solid #CCC;
	background: #FFF;
}


.custom-file-upload {
   display: flex;
	height: 1.25rem;
	padding: 0rem 0.625rem;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	color: #555;
	font-family: Montserrat;
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.03125rem;
	text-transform: capitalize;
	border-radius: 0.125rem;
	border: 1px solid #CCC;
	background: #F5F5F5;
	box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.25);
	width:6.25rem;
	overflow: hidden; /* Hides the default file input text */
    white-space: nowrap; /* Prevents the text from wrapping */

}

.custom-file-upload input {
    display: none; /* Hides the default file input */
   
}

.custom-file-upload {
	width: 6.25rem;
	height: 6.25rem;
	justify-content: center;
	align-items: center;
    margin-top:0.31rem;
}

.fa.fa-plus {
	font-size:4rem;
	color: #CCCCCC; 
	font-weight: 100;
	 
}


/** css for the  format of images in report evaluation and evaluation confirmation**/
 .image-container{
	display:flex;
	flex-direction: row;
	width: 100%;
	height:auto;
	flex-wrap: wrap;
} 
 .image-container .custom-file-upload {
    order: 1; /* Set the order property to move the plus icon to the end */
   
}
 .images{
	display: inline;
	padding: 0.3125rem;
	align-items: flex-start;
	align-content: flex-start;
	gap: 0.3125rem;
	flex-wrap: wrap;
	border: 1px solid #CCC;
	background: #FBFBFB;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25) inset;
	margin-top:0.31rem;
	width:48.75rem;
}

img:nth-child(1) {
	height:100px;
    width: 100px;
	     margin:0.31rem .31rem 0 .31rem;
}
img:not(:nth-child(1)) {
	height:100px;
    width: 100px;
    margin:0.31rem .31rem 0 0;
} 

/** css for the  evaluator's uploaded images**/
	.image {
    		width: width:48.75rem; ;
    	}
    
    	span.delete {   		
    		display: none;
    		margin-left: -20px;
    		position: absolute;
    		cursor: pointer;
    		
    	}
    	
.image-container:empty ~ .images {
    display: none;
}

    	
    	
    	/* span.delete::before {
    		content: '\274C';
    		content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><g clip-path="url(#clip0_786_1252)"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 0C9.31318 0 12 2.68682 12 6C12 9.31318 9.31318 12 6 12C2.68682 12 0 9.31318 0 6C0 2.68682 2.68682 0 6 0ZM2.9674 8.17176L5.13917 6L2.9674 3.82824C2.84282 3.70361 2.84282 3.50032 2.9674 3.37573L3.37573 2.9674C3.50032 2.84282 3.70361 2.84282 3.82824 2.9674L6 5.13917L8.17176 2.9674C8.29639 2.84282 8.49969 2.84282 8.62427 2.9674L9.0326 3.37573C9.15718 3.50032 9.15718 3.70361 9.0326 3.82824L6.86084 6L9.0326 8.17176C9.15718 8.29639 9.15718 8.49969 9.0326 8.62427L8.62427 9.0326C8.49969 9.15718 8.29639 9.15718 8.17176 9.0326L6 6.86084L3.82824 9.0326C3.70361 9.15718 3.50032 9.15718 3.37573 9.0326L2.9674 8.62427C2.84282 8.49969 2.84282 8.29639 2.9674 8.17176Z" fill="#FF3333"/><path d="M2.9674 8.17176L5.13917 6L2.9674 3.82824C2.84282 3.70361 2.84282 3.50032 2.9674 3.37573L3.37573 2.9674C3.50032 2.84282 3.70361 2.84282 3.82824 2.9674L6 5.13917L8.17176 2.9674C8.29639 2.84282 8.49969 2.84282 8.62427 2.9674L9.0326 3.37573C9.15718 3.50032 9.15718 3.70361 9.0326 3.82824L6.86084 6L9.0326 8.17176C9.15718 8.29639 9.15718 8.49969 9.0326 8.62427L8.62427 9.0326C8.49969 9.15718 8.29639 9.15718 8.17176 9.0326L6 6.86084L3.82824 9.0326C3.70361 9.15718 3.50032 9.15718 3.37573 9.0326L2.9674 8.62427C2.84282 8.49969 2.84282 8.29639 2.9674 8.17176Z" fill="white"/></g><defs><clipPath id="clip0_786_1252"><rect width="12" height="12" fill="white"/></clipPath></defs></svg>'); Inline SVG content
    	
    	} */
/*     	
    	span.delete::before {
	    content: '\2716'; 
	    color: white;
	    position: absolute;
	    right: 0rem;
	    left:1rem;
	    font-size: 1.2em; 
	}

	span.delete::before {
	    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cg clip-path='url(%23clip0_786_1252)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C9.31318 0 12 2.68682 12 6C12 9.31318 9.31318 12 6 12C2.68682 12 0 9.31318 0 6C0 2.68682 2.68682 0 6 0ZM2.9674 8.17176L5.13917 6L2.9674 3.82824C2.84282 3.70361 2.84282 3.50032 2.9674 3.37573L3.37573 2.9674C3.50032 2.84282 3.70361 2.84282 3.82824 2.9674L6 5.13917L8.17176 2.9674C8.29639 2.84282 8.49969 2.84282 8.62427 2.9674L9.0326 3.37573C9.15718 3.50032 9.15718 3.70361 9.0326 3.82824L6.86084 6L9.0326 8.17176C9.15718 8.29639 9.15718 8.49969 9.0326 8.62427L8.62427 9.0326C8.49969 9.15718 8.29639 9.15718 8.17176 9.0326L6 6.86084L3.82824 9.0326C3.70361 9.15718 3.50032 9.15718 3.37573 9.0326L2.9674 8.62427C2.84282 8.49969 2.84282 8.29639 2.9674 8.17176Z' fill='%23FF3333'/%3E%3Cpath d='M2.9674 8.17176L5.13917 6L2.9674 3.82824C2.84282 3.70361 2.84282 3.50032 2.9674 3.37573L3.37573 2.9674C3.50032 2.84282 3.70361 2.84282 3.82824 2.9674L6 5.13917L8.17176 2.9674C8.29639 2.84282 8.49969 2.84282 8.62427 2.9674L9.0326 3.37573C9.15718 3.50032 9.15718 3.70361 9.0326 3.82824L6.86084 6L9.0326 8.17176C9.15718 8.29639 9.15718 8.49969 9.0326 8.62427L8.62427 9.0326C8.49969 9.15718 8.29639 9.15718 8.17176 9.0326L6 6.86084L3.82824 9.0326C3.70361 9.15718 3.50032 9.15718 3.37573 9.0326L2.9674 8.62427C2.84282 8.49969 2.84282 8.29639 2.9674 8.17176Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_786_1252'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"); Inline SVG content
	    color: white;
	    position: absolute;
	    right: 0rem;	   
	} */
    	
/**............END..... ..**/